* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
        
}

body {
    background-color: orange;
}

#header {
    background-color: antiquewhite;
}

#footer {
    background-color: rgb(63, 63, 63);
    
}