* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ______________________________________________________________________________ */
/* Start All Header Here */
#header {
    width: 100%;
    position: fixed;
    background: rgb(255, 255, 255);
}

#header a {
    color: #333;
    text-decoration: none;
}

#header nav img.logo {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#header a:hover {
    opacity: 0.9;
}

#header nav {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: 'Barlow', sans-serif;
    background: #fff;
    height: 10vh;
}

#header nav .nav__list {
    list-style: none;
    display: flex;
}

#header nav .nav__list li {
    letter-spacing: 2px;
    margin-left: 30px;
}

.menu {
    cursor: pointer;
}

#header nav ul .demo span {
    color: #FFFFFF;
    background: rgb(27, 178, 88);
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

#header nav ul span {
    color: rgb(27, 178, 88);
    font-weight: bold;
    background: rgb(248, 248, 248);
    border-radius: 5px;
    padding: 5px;
}
