* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner__inicial {
    width: auto;
    height: 520px;
    background-color: rgb(218, 218, 218);
}

#banner__inicial .banner__inicial {
    display: flex;
    margin-left: 40px;
    align-items: center;
    padding-top: 70px;
}

#banner__inicial .banner__inicial h1 {
    color: #333;
    font-size: 50px;
    font-weight: bold;
}

#banner__inicial .banner__inicial h1 span {
    color: #1BB258;
    font-size: 50px;
    font-weight: bold;
}

#banner__inicial .banner__inicial p {
    color: #333;
    font-size: 20px;
    padding-top: 20px;
}

#banner__inicial .banner__inicial .image1 {
    display: flex;
    align-items: right;
}

#banner__inicial .btn__demo {
    display: inline-block;
    
    text-decoration: none;
    background: #095957;
    color: #fff;
    font-style: none;
    
    width: 200px;
    height: 50px;
    
    border-radius: 7px;
    margin-left: 150px;

    cursor: pointer;
}

#banner__inicial .btn__demo buttom {
}
